<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  {% include opengraph.html %}
  <meta name="description" content="{{ site.github.project_tagline }}">
  <meta property="fb:app_id" content="2281914088695434" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta name="keywords" content="{{ page.keywords }}"/>
  <meta name="robots" content="index,follow" />
  <meta name="author" content="duclvzz@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>